//Reset
@import "./reset.scss";

//Main
@import "./variables.scss";

// Viewport and breakpoints
@import "./_breakpoints.scss";

// Components
@import "../components/Navbar/_styles.scss";
@import "../components/Hero/_styles.scss";
@import "../components/Instagram/_styles.scss";

html {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
