.contact {
  width: 100%;
  padding: 20px 5% 40px 5%;
  background-color: $primary;

  &__title {
    display: block;
    font-size: 2rem;
    font-weight: $bold;
    color: $text-light;
    margin-bottom: 50px;

    &::after {
      content: "";
      border-bottom: 4px solid $secondary;
      display: block;
      width: 150px;
    }

    @include md {
      font-size: 3rem;

      &::after {
        content: "";
        border-bottom: 4px solid $secondary;
        display: block;
        width: 225px;
      }
    }
  }

  &__content {
    display: inline-block;
    font-size: 1rem;
    font-weight: $light;
    color: $text-light;
    line-height: 1.5rem;
    padding-bottom: 10px;
    width: 75%;

    & .arrow {
      font-size: 1.5rem;
      padding-left: 5px;
      color: $text-light;

      // Fix for Safari in order to display arrow AFTER the text
      @media not all and (min-resolution: 0.001dpcm) {
        @supports (-webkit-appearance: none) {
          right: -35px;
        }
      }
    }
  }

  .contact__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__image {
    display: block;
    width: 150px;
    height: auto;
    border-radius: 50%;
    margin-left: 20px;
    border: 4px solid $secondary;

    @include md {
      width: 200px;
      margin-right: 20px;
    }
  }

  &__button {
    display: block;
    width: 150px;
    height: 50px;
    background-color: $text-light;
    border: 2px solid $secondary;
    display: flex;
    justify-content: center;
    transition: all ease-in-out 0.4s;

    &:hover {
      background-color: $secondary;
      color: $text-light;
      border: 2px solid $text-light;
      -webkit-transition: all ease-in-out 0.4s;
      -moz-transition: all ease-in-out 0.4s;
      transition: all ease-in-out 0.4s;

      & .contact__button-text {
        color: $text-light;
        transition: all ease-in-out 0.4s;
      }
    }

    &-text {
      display: block;
      color: $secondary;
      font-size: 1.5rem;
      text-transform: uppercase;
      align-self: center;
    }
  }
}
