.header {
  margin: 40px 5% 0 5vw;
  padding-bottom: 40px;
  border-bottom: 1px solid $text-light;
  background-color: $primary;

  &__title {
    display: inline;
    position: relative;
    font-size: 2rem;
    font-weight: $bold;
    color: $text-light;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      border-bottom: 4px solid $secondary;
      display: block;
      width: 100%;
    }

    @include md {
      font-size: 3rem;
    }
  }
}
