nav {
  display: grid;
  grid-template-rows: minmax(min-content, 100px) min-content;
  min-height: 10vh;
  padding: 20px 0;

  & .content {
    background-color: $text-light;
    display: grid;
    grid-template-columns: 5% repeat(2, auto) 5%;

    column-gap: 10px;
    align-items: center;
    align-content: space-evenly;

    & .logos {
      grid-column: 2/3;
      align-items: center;
      display: flex;

      & .logo,
      .skull {
        width: auto;
        height: 80px;

        @include md {
          height: 110px;
          width: auto;
        }
      }

      & .nav-name {
        font-size: 2rem;
        font-weight: $regular;
        letter-spacing: -1px;
        line-height: 1.8rem;
        padding: 0 10px;

        @include sm {
          font-size: 3rem;
        }
      }
    }

    & .links {
      display: none;
      font-size: 1rem;
      font-weight: $regular;

      @include md {
        display: grid;
        grid-gap: 15px;
        grid-auto-flow: column;
        grid-auto-columns: minmax(min-content, 100px);
        place-items: center;
        grid-column: 3/4;
      }

      &-active {
        border-left: 10px solid $secondary;
        padding: 0 20px !important;

        @include md {
          border-left: none;
          padding: 0 !important;
          color: $secondary;
        }
      }
    }

    & .menu {
      justify-self: end;
      grid-column: 3/4;

      @include md {
        display: none;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  & .dropdown {
    display: none;

    &-open {
      display: block;
      background-color: $primary;
      color: $text-light;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 75%;
    }

    @include md {
      display: none;
    }

    & .content {
      display: grid;
      grid-template-rows: repeat(7, 80px);
      grid-template-columns: auto;
      grid-gap: 2px;
      background-color: $primary-light;

      & .circle {
        background: $secondary;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        & > img {
          width: 60%;
          height: auto;
        }
      }

      & .close svg {
        cursor: pointer;
      }

      & > * {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        padding: 0 30px;
        background-color: $primary;

        &:last-child {
          border-bottom: 2px solid $primary-light;
        }

        &:first-child {
          justify-content: start;
        }
      }
    }
  }
}
