.gallery {
  margin: 40px 5%;

  &__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    grid-auto-flow: dense;

    // Disable grid in a middle div
    & div {
      display: contents;
    }

    & div a {
      grid-column-start: span 3;

      @include md {
        grid-column-start: unset;

        &:first-child {
          grid-column-start: span 2;
          grid-row-start: span 2;
        }

        &:nth-child(6n + 5),
        &:nth-child(6n + 7) {
          grid-column-start: span 2;
          grid-row-start: span 2;
        }
      }

      & img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        overflow: hidden;
      }
    }
  }
}
