.gallery {
  margin: 40px 5%;

  &__wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    grid-auto-flow: dense;

    // Disable grid in a middle div
    & div {
      display: contents;
    }

    & div a {
      position: relative;
      grid-column: span 3;
      overflow: hidden;

      &::before {
        content: "";
        padding-bottom: 100%;
        display: inline-block;
        vertical-align: top;
      }

      @include md {
        grid-column: unset;

        &:first-child {
          grid-column: span 2;
          grid-row: span 2;
        }

        &:nth-child(6n + 5),
        &:nth-child(6n + 7) {
          grid-column: span 2;
          grid-row: span 2;
        }
      }

      & img {
        position: absolute;
        min-height: 100%;
        min-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        overflow: hidden;
      }

      & img {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
      }

      &:hover img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }

  &__info {
    display: block !important;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5%;
    line-height: 1.4rem;
    width: 100%;
    background-color: $text-light;

    &--header {
      font-size: 1.2rem;
      font-weight: $regular;
      margin-bottom: 5px;
    }

    &--body {
      font-size: 1rem;
      font-weight: $thin;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
